# Ignorar el cache de Python
__pycache__/
*.pyc

# Ignorar entornos virtuales
env/
venv/

# Archivos de configuración de entornos
*.env

# Archivos de configuración
.vscode/

# Archivos de logs
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db